[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cx-oracle = "==6.0.3"
"o365" = "*"
python-decouple = "*"
sqlparse = "*"

[dev-packages]

[requires]
python_version = "3.6"
